.choose-wrap {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .first-line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: skyblue;

    .choose-text {
      padding-right: 2rem;
    }
  }
  .second-line {
    color: gray;
  }
}