.home-block {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.one {
  background-image: url('../../assets/img/bg1.jpg');
}

.two {
  background-image: url('../../assets/img/bg2.jpg');
}